.App {
  text-align: center;
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 30%; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  justify-content: center;
}

.searchButton {
  height:10%; 
  margin-bottom: 5%;
}

.pokeList {
  height: 100%; 
  width: 100%; 
  display: flex;
  
}

.eachPoke {
  height: 100px; 
  width: 200px; 
  border-radius: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  outline-width: 1px;
  /* outline-color: black;  */
  justify-content: center;
  padding: 10px; 
  margin: 10px; 
  /* box-shadow:   2px 2px 2px 2px; */
  transition:  0.5s;
  -webkit-transition:  0.5s;
  text-align: center
}

.eachPoke:hover {
  height: 110px; 
  width: 210px; 
}

.habitats {
  margin: 2%; 

}

.eachHab {
  padding:.25rem; 
}

.pokeBall {
  height:100px; 
  width: 100px;
  
}
.pokeBall:hover {
  height: 200px; 
  width: 200px; 
}
